# FiboAITech Team will be the default owners for everything in the repo.
# @fiboaitech-ai/fiboaitech-core will be requested for review when someone opens a pull request.
* @fiboaitech-ai/fiboaitech-core
